*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #333;
    color: azure;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 2px;
    margin: 2px;
}

header {
    text-align: center;
    position: static;
    top: 0;
    width: 100%;
    h1 {
        color: mediumseagreen;
    }
}

nav {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    display: inline-block;
    ul {
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    li {
        padding: 0 5px;
        display: inline-block;
    }
}

main {
    width: 100%;
}
main article, main section {
    padding: 0;
    margin: 0;
}
main form {
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
main fieldset {
    font-weight: bold;
    font-size: medium;
    padding: 5px 25px 15px 25px;
}
main fieldset p {
    font-weight: bold;
    font-size:small;
}
main legend {
    color: #3cb3ad;
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    padding: 0.2em;
    margin: 0;
}
main label {
    font-size: large;
    padding: 0;
    margin: 0;
}

footer {
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: lightgray;
}
a:hover, a:active {
    color: dimgray;
}

pre {
    width: 660px;
    margin: auto;
    font-size: 0.8rem;
}

@media all and (max-width: 33rem) {
    body {
      font-size: 0.8rem;
      pre {
        width: 100%;
        font-size: 0.65rem;
      }
    }
}

/* ELEMENTS: INPUT, SELECT & BUTTON */
button, select, input[type=number] {
    box-sizing: border-box;
    text-align: center;
    font-family: inherit;
    font-size: medium;
    font-weight: bold;
    border-radius: 0.5rem;
    margin: 2px;
}

input[type=number] {
    border: 1px solid #333;
    padding: 3px;
    width: 150px;
}
input[type=number]:hover {
    border: 1px solid lightseagreen;
}
input[type=number]:focus {
    border: 1px solid lightseagreen;
    outline: 1px solid lightseagreen;
    background-color: azure;
}

select {
    border: none;
    outline: none;
    padding: 3px;
    cursor: pointer;
}

button {
    background-color: darkcyan;
    border: solid thin darkcyan;
    color: azure;
    display: inline-block;
    padding: 3px 25px;
    cursor: pointer;
    transition-duration: 0.5s;
    box-shadow: 1px 1px #999;
}
button:hover {
    background-color: teal;
    border: solid thin teal;
}
button:active {
    opacity: 60%;
    transform: scale(1px, 1px);
    box-shadow: 0.5px 0.5px #666;
}

/* CAT.HTML/CAT.JS */
#cat_container {
    text-align: center;
    padding: 10px;
}

#catDisplay {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

/* GAME */
#numberGuessingGameContainer {
    text-align: center;
    display: block;
    border: solid medium teal;
    border-radius: 0.5rem;
    width: 440px;
    height: fit-content;
    margin: auto;
    padding: 5px 15px;
}
#numberGuessingGameContainer:hover {
    outline: solid thin teal;
    box-shadow: 0 10px 1em rgba(0, 128, 128, 0.9);
}
#numberGuessingGameContainer #attempt {
    font-size: medium;
    font-weight: bold;
    font-style: italic;
}
@media screen and (max-width: 500px) {
    #numberGuessingGameContainer {
        flex: 100%;
        max-width: 100%;
    }
}
