@use 'utilities' as *;
@use 'layouts' as*;
@use 'components' as *;
@use 'themes' as*;
@use 'pages';

@include reset;
@include typography($bg-main, $txt-main);

body {
    @include all-headings;
    @include header($bg-header,$txt-header,$a-header);
    @include main {
        @include interactive-elements;
        @include anchors($a-main,$a-main-hover);
        @include paragraphs;
        @include dialogs();
        h1 {
            color: mediumseagreen;
            text-align: center;
        }
        h2 {
            color: lightseagreen;
            text-align: center;
        }
        h3, h4, h5, h6 {
            text-align: center;
        }
    };
    @include footer($bg-footer,$txt-footer,$a-footer);
    .project-card {
        background: rgba(0,0,0,0.2);
        border-left: $project-card-border-green;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        padding: 1rem 2rem;
        margin-top: 1rem;
    }
}
@include medium-media {
    body {
        header, main, footer {
            font-size: 0.8rem;
        }
    }
}
@include small-media {
    body {
        width: breakpoint('sm');
    }
}
@include pages.cat-page;
@include pages.weather-display;
@include pages.number-guessing-game-page;