@use '../util' as *;

@mixin anchors($color: #353, $hover: #797) {
  a {
    text-decoration: none;
    color: $color;
    transition: color 0.2s ease;
    @content;
    &:link,
    &:visited {
      color: $color;
    }
    &:hover,
    &:active {
      color: $hover;
    }
  }
}
