@use '../util' as *;

@mixin text {
  p {
    font-size: inherit;
    font-weight: inherit;
    margin: 0.75rem 0;
  }
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  abbr[title] {
    text-decoration: none !important;
  }
  figcaption {
    font-size: small;
    font-weight: normal;
    font-style: italic;
  }
}

@mixin anchors($color: #353, $hover: #797) {
  a {
    text-decoration: none;
    color: $color;
    transition: color 0.2s ease;
    @content;
    &:link,
    &:visited {
      color: $color;
    }
    &:hover,
    &:active {
      color: $hover;
    }
  }
}
