pre {
    background-color: #191919;
    width: max-content;
    border: 1px solid #999;
    border-radius: 5px;
    padding-inline: 50px;
    overflow: auto;
}
.language-arduino {
    color: lightgray;
}
.language-arduino .blue {
    color: royalblue;
}
.language-arduino .orange {
    color: goldenrod;
}
.language-arduino .gray {
    color: darkgray;
}
.language-arduino .green {
    color: mediumseagreen;
}
.language-arduino .red {
    color: palevioletred;
}