h2 {color:mediumseagreen}
main {
    width: 800px;
    margin: auto;
    padding-left: 20px;
    line-height: 1.5;
}
@media all and (max-width: 800px) {
    body {
        font-size: 0.8rem;
        width: 800px;
        margin: auto;
    }
}
/* Powershell Code */
.powershell {
    color:white;
    background-color:#012456;
    padding-inline: 5px;
}
.powershell #yl {
    color:yellow;
}
.powershell #gr {
    color: gray;
}
.powershell #lsg {
    color: lightseagreen;
}
