// General Theme Tokens
$color-dark: #1f1f1f;
$color-light: #f1f1f1;
$color-grey: #333;

// Header/Footer Colors
$bg-header: darkgreen;
$txt-header: $color-light;
$accent-header: #eee;
$bg-footer: $color-dark;
$txt-footer: $color-light;
$accent-footer: #eee;

// Main Colors
$bg-main: $color-grey;
$txt-main: $color-light;
