// General Theme Tokens
$color-dark: #1F1F1F;
$color-light: #F1F1F1;
$color-grey: #333;

// Header/Footer Colors
$bg-header: seagreen;
$txt-header: $color-light;
$accent-header: #eee;
$bg-footer: seagreen;
$txt-footer: $color-light;
$accent-footer: #eee;

// Main Colors
$bg-main: $color-grey;
$txt-main: $color-light;
