body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color:#333;
  color:azure;
  text-align: center;
}
a:link {
  color:azure;
}
a:visited {
  color:azure; 
}
a:active {
  color: mediumseagreen; 
}
a:hover {
  color:mediumseagreen;
}
#header h1 {
  color:mediumseagreen;
}
#navigation {
  padding: 10px;
}
#main {
  height: 100%;
  width: 100%;
}
#main h2 {
  color: lightseagreen;
}
#main select {
  font-size: 1rem;
}
#main input[type=number] {
    flex: 1 1 auto;
    box-sizing: border-box;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1rem;
    padding: 3px;
}
#main input:focus {
    outline: 3px solid seagreen;
}
#main img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-width: 40%;
  height: auto;
  padding: 10px;
}

