#weatherApp {
    border: solid thin darkseagreen;
    display:block;
    box-sizing: border-box;
    width: fit-content;
    height: 90px;
    margin:auto;
    padding: none;
    overflow: hidden;
}
#weatherApp:hover {
    outline: solid thin darkseagreen;
    box-shadow:0 10px 1em #3cb371aa;
}
#weatherTitle {
    color: mediumseagreen;
    text-align: center;
    box-sizing: border-box;
    width: fit-content;
    height: 90px;
    float:left;
}
#weatherContent {
    background-color: seagreen;
    box-sizing: border-box;
    width: fit-content;
    height: 90px;
    float:right;
}
#nwsTitle {
    color:darkseagreen;
    padding: none;
    margin: none;
}