// _cat.scss
@mixin cat-page {
  .cat-header {
    background-color: hsl(12, 83%, 46%);
    color: white;
  }

  #cat_container {
    text-align: center;
  }

  #catDisplay {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #catHeading {
    color: darkorange;
  }

  .splide {
    margin: auto;
    width: 95%;
  }
}
