@mixin number-guessing-game-page {
  #numberGuessingGameContainer {
    text-align: center;
    display: block;
    border: solid thin teal;
    border-radius: 0.5rem;
    width: min(550px, 100%);
    margin: auto;
    padding: 10px 15px;
  }

  @media screen and (max-width: 500px) {
    #numberGuessingGameContainer {
      flex: 100%;
      max-width: 100%;
    }
  }
}
