@use './loader';

@use 'sass:color';
$green-bg: seagreen;
$alert-bg: color.complement(seagreen);
$green-line: solid thin darkseagreen;

@mixin flex-center($direction: row, $justify: space-between, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin weather-display {
  .weather-display {
    background-color: rgba(46, 139, 87, 0.55);
    color: #353;
    border: solid thin mediumseagreen;
    padding: 8px;
    margin: auto;
    text-align: center;
    font-weight: 500;
    outline: none;
    border-radius: 8px;
    overflow: hidden;
    .heading-container {
      @include flex-center;
      .heading-card {
        // height: 90px;
        margin: auto;
      }
    }
    #weatherContainer {
      @include flex-center;
      border: $green-line;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin: 2px;
      #weatherDivLeft {
        flex: 2;
        background-color: $green-bg;
        color: honeydew;
        line-height: 1.4;
        border-radius: 8px;
        padding: 8px 4px;
        word-break: keep-all;
      }
      #weatherDivRight {
        flex: 1;
        border-radius: 8px;
        padding: 2px;
      }
    }
    #alertsId {
      background-color: $alert-bg;
      color: honeydew;
      text-align: center;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin: 2px;
    }
    #forecastDiv {
      @include flex-center;
      padding: 4px 0;
      .day-card {
        flex: 1;
        border: $green-line;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 3px 0;
        font-size: 0.85rem;
        font-weight: 600;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin: 2px;

        .rain {
          color: #335;
        }
        .hi {
          color: crimson;
        }
        .lo {
          color: royalblue;
        }
      }
    }
    #chartId {
      margin: 0.1rem auto;
    }
  }

  @include loader.cloud-loader;
}
