@use './loader';

@use 'sass:color';
$alert-violet: color.complement(seagreen);
//$light-green-text: lighten(darkseagreen, 15%);
$light-green-text: color.adjust(darkseagreen, $lightness: 15%);
$green-line: solid thin darkseagreen;
@mixin flex-center($direction: row, $justify: space-between, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin weather-display {
    .weather-display {
        max-width: 550px;
        margin: auto;
        text-align: center;
        font-weight: bold;
        outline: $green-line;
        border: $green-line;
        border-radius: 16px;
        background-color: #333;
        .heading-container {
            @include flex-center;
            .heading-card {
                height: 80px;
                margin: auto;
                h1 {
                    color: mediumseagreen;
                    padding: 0;
                    margin: 0;
                    a {
                        text-decoration: none;
                        &:link, &:visited { color: mediumseagreen; }
                        &:hover, &:active { color: seagreen; }
                    }
                }
            }
        }
        #currentDiv {
            @include flex-center;
            border-top: $green-line;
            #currentId {
                background-color: seagreen;
                color: honeydew;
                float: left;
                flex: 2;
                height: 100%;
                word-break: keep-all;
                padding: 4px;
            }
            #nextId {
                background-color: #333;
                color: $light-green-text;
                float: right;
                flex: 1;
                height: 100%;
            }
        }
        #alertsId {
            border-top: $green-line;
            background-color: $alert-violet;
            color: honeydew;
            text-align: center;
        }
        #weekId {
            @include flex-center;
            .dayId {
                flex: 1;
                background-color: #333;
                padding: 5px 0;
                border: $green-line;
                font-size: smaller;
                font-weight: bold;
                .day { color: lightgreen; }
                .hi { color: lightcoral; }
                .lo { color: lightblue; }
            }
        }
        #chartId {
            margin: "auto";
            max-width: "550px";
            background-color: "#333";
        }
    }

    .spinner {
        width: 20px;
        height: 20px;
        border: 2px solid #999;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @include loader.cloud-loader

}
