@use '../util' as *;
@use '../components' as *;

@mixin footer($bg: #1f1f1f, $txt: #f1f1f1, $accent: #95ff05) {
  footer {
    background-color: $bg;
    color: $txt;
    font-size: inherit;
    text-align: center;
    padding: rem(5) 0;
    @include anchors($accent, $accent);
    @content;
  }
}
