@use '../util' as *;
@use '../components' as *;

@mixin footer($bg:#1F1F1F, $txt:#F1F1F1, $accent:#95FF05) {
  footer {
    background-color: $bg;
    color: $txt;
    font-size: inherit;
    text-align: center;
    padding: rem(5) 0;
    @include anchors($accent,$accent);
    @content;
  }
}
