@use '../util' as *;

@mixin reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }
  html {
    height: 100%;
  }
}

@mixin typography($bg: #f1f1f1, $txt: #333) {
  body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 1.1em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    width: max(100%, 30rem);
    background-color: $bg;
    color: $txt;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: inherit;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 0.5em;
    }
    section {
      padding: 0.5em 1em;
      margin-bottom: 1em;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 12px;
    }
    @content;
  }
  @include medium-media {
    body {
      font-size: 0.85rem;
    }
  }
}
