@use '../util' as *;

// Responsive font-size mixin using clamp()
@mixin fluid-text($minSize, $maxSize, $minVW: 320px, $maxVW: 1280px) {
  font-size: clamp(
    #{$minSize},
    calc(
      #{$minSize} + (#{$maxSize} - #{$minSize}) * ((100vw - #{$minVW}) / (#{$maxVW} - #{$minVW}))
    ),
    #{$maxSize}
  );
}

@mixin all-headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5em;
  }

  h1 {
    @include fluid-text(2rem, 3rem);
  }
  h2 {
    @include fluid-text(1.75rem, 2.5rem);
  }
  h3 {
    @include fluid-text(1.5rem, 2rem);
  }
  h4 {
    @include fluid-text(1.25rem, 1.75rem);
  }
  h5 {
    @include fluid-text(1.125rem, 1.5rem);
  }
  h6 {
    @include fluid-text(1rem, 1.25rem);
  }
}

@mixin typography($bg: #f1f1f1, $txt: #333) {
  body {
    font-family: fonts('segoe');
    line-height: 1.5;
    font-size: 1.1em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    width: max(100%, 30rem);
    background-color: $bg;
    color: $txt;
    @include all-headings;
    section {
      padding: 0.5em 1em;
      margin-bottom: 1em;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 12px;
    }
    @content;
  }
  @include medium-media {
    body {
      font-size: 0.85rem;
    }
  }
}
