//* SELECT, INPUT, BUTTON & FORM  */

@mixin selects {
    select {
        border: 1px solid #333;
        @extend %data-box;
        cursor: pointer;
    }
}

@mixin inputStyle($width:120px){
    border: 1px solid #333;
    @extend %data-box;
    width:$width;
    &:hover, &:focus{
        border: 1px solid lightseagreen;
        outline: 1px solid lightseagreen;
        background-color: azure;
    }
}
@mixin inputs {
    input[type=number] {
        @include inputStyle;
    }
    input[type=text], input[type=url], input[type=password] {
        @include inputStyle($width:fit-content);
    }
    textarea {
        @include inputStyle($width:310px);
    }
}

@mixin buttonStyle($color:darkcyan,$text:azure,$hover:teal){
    color: $text;
    background-color: $color;
    border: solid thin $color;
    @extend %data-box;
    display: inline-block;
    padding-inline: 25px;
    cursor: pointer;
    transition-duration: 0.5s;
	box-shadow: 1px 1px #999;
    &:hover {
        color: $text;
        background-color: $hover;
        border: solid thin $hover;
    }
	&:active {
        opacity: 60%;
        //transform: translateY(1px);
        //transform: translateX(1px);
        transform: scale(1px,1px);
        box-shadow: 0.5px 0.5px #666;
    }
}
@mixin buttons {
    button, input[type='reset'], input[type='submit'] {
        @include buttonStyle();
    }
    .red-link-button {
        @include buttonStyle($color:crimson,$text:snow,$hover:firebrick);
        a {
            text-decoration: none;
            &:link, &:visited, &:hover, &:active {
                color:snow;
            }
        }
    }
}

@mixin forms {
    form {
        text-align: center;
        max-width: 490px;
        margin: 0 auto 0 auto;
        fieldset {
            font-size: medium;
            font-weight: bold;
            padding: 5px 25px 15px 25px;
            border-radius: 5px;
        }
        legend {
            color: #62AEB2;
            text-align: left;
            font-size: x-large;
            font-weight: bold;
            padding: 0.2em;
            margin: 0;
        }
        label {
            padding: 3px;
            margin: 3px;
            color: #eee;
        }
        p {
            font-size: small;
        }
    }
    %data-box {
        outline: none;
        box-sizing: border-box;
        text-align: center;
        font-family: inherit;
        font-size: medium;
        font-weight: bold;
        border-radius: 0.5rem;
        margin: 3px;
        padding: 3px;
    }
    @include selects;
    @include inputs;
    @include buttons;
    @media screen and (max-width: 510px) {
        form {
            font-size: 0.8rem;
        }
    }
}
