@use './interactive-elements' as *;

@mixin forms {
    form {
        text-align: center;
        max-width: 490px;
        margin: 0 auto 0 auto;
        fieldset {
            font-size: medium;
            font-weight: bold;
            padding: 5px 25px 15px 25px;
            border-radius: 5px;
            border-color: #62aeb2;
        }
        legend {
            color: #62aeb2;
            text-align: left;
            font-size: x-large;
            font-weight: bold;
            padding: 0.2em;
            margin: 0;
        }
        label {
            padding: 3px;
            margin: 3px;
            color: #eee;
        }
        p {
            font-size: small;
        }
    }

    @include interactive-elements;

    @media screen and (max-width: 550px) {
        form {
            font-size: 0.8rem;
        }
    }
}

@mixin tables {
    table {
        margin-inline: auto;
        text-align: center;
        border: 1px solid #555;
        background-color: #333;
        tr, th, td {
            border: 1px solid #555;
            outline: 1px solid #555;
            padding: 0.5rem;
        }
        thead, tfoot {
            border: 1px solid #555;
            outline: 1px solid #555;
            color: #fff;
            background-color: #555;
        }
        caption {
            caption-side: bottom;
            font-size: small;
            font-weight: normal;
            font-style: italic;
        }
    }

    @media screen and (max-width: 550px) {
        table {
            font-size: 0.8rem;
            img {
                max-height: 50px;
                width: auto;
            }
        }
    }
}
