@mixin dialogs($dialog-bg:#fefefe , $dialog-txt: #1f1f1f) {
    dialog {
        background: #d1d1d1;
        margin: auto;
        padding: 32px 16px;
        position: fixed;
        button.dialog-close {
            position: absolute;
            top: 1px;
            right: 1px;
        }
    }

    dialog::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }
    .dialog-card {
        background-color: $dialog-bg;
        color: $dialog-txt;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        padding: 1rem 2rem;
        margin-top: 1rem;
    }
}

@mixin tables {
    table {
        margin-inline: auto;
        text-align: center;
        border: 1px solid #555;
        background-color: #333;
        tr, th, td {
            border: 1px solid #555;
            outline: 1px solid #555;
            padding: 0.5rem;
        }
        thead, tfoot {
            border: 1px solid #555;
            outline: 1px solid #555;
            color: #fff;
            background-color: #555;
        }
        caption {
            caption-side: bottom;
            font-size: small;
            font-weight: normal;
            font-style: italic;
        }
    }

    @media screen and (max-width: 550px) {
        table {
            font-size: 0.8rem;
            img {
                max-height: 50px;
                width: auto;
            }
        }
    }
}
