@use '../utilities/' as *;

@mixin headings($level, $margin) {
    h#{$level} {
        margin: rem($margin);
        @content;
    }
}

@mixin all-headings {
    @include headings(1, 8);
    @include headings(2, 6);
    @include headings(3, 4);
    @include headings(4, 2);
    @include headings(5, 2);
    @include headings(6, 2);
}

@mixin paragraphs {
    p {
        font-size: inherit;
        font-weight: normal;
        margin: rem(1) 0;
        @content;
    }
}

@mixin abbreviations {
    abbr[title] {
        text-decoration: none !important;
        @content;
    }
}

@mixin figure-captions {
    figcaption {
        font-size: small;
        font-weight: normal;
        font-style: italic;
        @content;
    }
}