  .weather-display {
    background-color: rgba(46, 139, 87, 0.55);
    color: #353;
    border: solid thin mediumseagreen;
    padding: 8px;
    margin: auto;
    text-align: center;
    font-weight: 500;
    outline: none;
    border-radius: 8px;
    overflow: hidden;
    .heading-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .heading-card {
        margin: auto;
      }
    }
    #weatherContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: solid thin darkseagreen;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin: 2px;
      #weatherDivLeft {
        flex: 2;
        background-color: seagreen;
        color: honeydew;
        line-height: 1.4;
        border-radius: 8px;
        padding: 8px 4px;
        word-break: keep-all;
      }
      #weatherDivRight {
        flex: 1;
        border-radius: 8px;
        padding: 2px;
      }
    }
    #alertsId {
      background-color: #8B2E63;
      color: snow;
      text-align: center;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin: 2px;
    }
    #forecastDiv {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 4px 0;
      .day-card {
        flex: 1;
        border: solid thin darkseagreen;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 3px 0;
        font-size: 0.85rem;
        font-weight: 600;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin: 2px;
        .rain { color: #335; }
        .hi { color: crimson; }
        .lo { color: royalblue; }
      }
    }
    #chartId {
      margin: 0.1rem auto;
    }
  }
