@use '../utilities/rem' as *;
@use "sass:map";
//Font Families
$font-serif: 'Times New Roman', Times, serif;
$font-sans: Arial, Helvetica, sans-serif;
$font-mono: 'Lucida Console', Courier, monospace;
$font-family: ("serif": $font-serif, "sans": $font-sans, "mono": $font-mono);
@mixin base() {
    *, *::before, *::after {
        box-sizing: border-box;
    }
    * {
        padding: 0;
        margin: 0;
    }
    html, body {
        height: 100%;
    }
    body {
        font-family: map.get($font-family, "sans");
        background-color: #333;
        color: #fefefe;
        line-height: 1.5;
        width: 100%;
        @include header;
        @include main;
        @include footer;
    }
    /* Tablets & under */
    @media all and (max-width: rem(768)) {
        body {
            font-size: 0.9rem;
        }
    }
    /*Mobile*/
    @media all and (max-width: rem(500)) {
        body {
            width: rem(500);
        }
    }
}
@mixin navigation {
    %unordered-list {
        list-style-type: none;
        overflow: hidden;
    }
    %list-item {
        padding: 0 rem(5);
        display: inline-block;
    }
    nav {
        font-size: medium;
        font-weight: bold;
        display: inline-block;
        ul {
            @extend %unordered-list;
            display: flex;
            justify-content: space-between;
        }
        li {
            @extend %list-item;
        }
    }
}
@mixin header() {
    header {
        text-align: center;
        width: 100%;
        position: static;
        top: 0;
        padding: rem(5);
        @include navigation();
        @include anchors(#ddd, #ccc, #eee);
        @include headings();
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            margin: 0 rem(40);
        }
    }
    @media(max-width: rem(768)) {
        header {
            height: rem(150);
            .header-container  {
                flex-direction: column;
                justify-content: center;
                ul {
                    padding: rem(8);
                    background-color: rgb(0, 0, 0, 0.1);
                }
            }
        }
    }
}
@mixin main() {
    main {
        //width: rem(790);
        //max-width: 90%;
        width: min(rem(790), 90%);
        margin: auto;
        @include anchors(#ddd, #ccc, #eee);
        @include headings(mediumseagreen, lightseagreen, darkorange);
        article, section {
            margin: 0;
            padding: 0;
        }
    }
}
@mixin footer() {
    footer {
        text-align: center;
        width: 100%;
        position: static;
        bottom: 0;
        padding: rem(5);
        @include anchors(#ddd, #ccc, #eee);
    }
}
@mixin anchors($color, $link, $hover) {
    a {
        text-decoration: none;
        color: $color;
        &:link,
        &:visited {
            color: $link;
        }
        &:hover,
        &:active {
            color: $hover;
        }
    }
}
@mixin headings($c1: #fff, $c2:#fff, $c3:#fff) {
    h1 {
        color: $c1;
        margin: rem(8);
    }
    h2 {
        color: $c2;
        margin: rem(8);
    }
    h3 {
        color: $c3;
        margin: rem(8);
    }
    h4, h5, h6 {
        color: #fff;
    }
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
}