@use 'util' as *;
@use 'layout' as *;
@use 'components' as *;
@use 'pages' as *;
// @use 'theme' as *;

@include reset;
@include typography($bg-main, $txt-main);

@mixin base() {
  body {
    @include header($bg-header, $txt-header, $accent-header);
    @include main {
      @include ui;
      @include text;
      @include anchors($color: #cdc, $hover: #efe);
      text-align: center;
      h1 {
        color: mediumseagreen;
      }
      h2 {
        color: lightseagreen;
      }
    }
    @include footer($bg-footer, $txt-footer, $accent-footer);
    .project-card {
      border: 1px solid seagreen;
      background: rgba(0, 0, 0, 0.11);
      border-radius: rem(8);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      margin: 1em 0;
      transition: box-shadow 0.3s ease;
      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      }
    }
    @include number-guessing-game-page;
    @include cat-page;
    @include weather-display;
  }
}

@include base;

// @include dark-mode-settings;
// @include dark-mode-toggle-checkbox(1rem,#5ad701);
